<div class="tech-btm">
    <p>Take the mails about Technology,Films and other subject</p>
    <form action="/NewsLetter/SubscribeMail/"  method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        <input type="submit" value="Subscribe">
    </form>

</div>