
@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>BlogTitleListExcel</h1>

<a href="/Admin/BLog/ExportDynamicBlogList/" class="btn btn-primary">Download Blog List as Excel format</a>
