@model UserUpdateViewModel
@{
    ViewData["Title"] = "WriterEditProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Writer Profile Information</h1>


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <br />
            <form class="forms-sample" method="post" >
                <div class="form-group">
                    <label for="exampleInputName1">Writer Name Surname</label>
                    <input type="text" asp-for="NameSurname" class="form-control" />
                    <span asp-validation-for="NameSurname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputName1">Writer Username</label>
                    <input type="text" asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Mail address</label>
                    <input type="text" asp-for="Mail" class="form-control" />
                    <span asp-validation-for="Mail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Image Url</label>
                    <input type="text" asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Password</label>
                    <input type="text" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-gradient-primary mr-2">Update</button>
                <button class="btn btn-light">Cancel</button>
                <div asp-validation-summary="ModelOnly"></div>
            </form>
        </div>
    </div>
</div>